$background-image: linear-gradient(to right, rgb(66,147,33), rgb(180,236,81));

@media screen and (max-width: 768px) {
    .btn {
        &:focus, &:active {
           outline: 0 !important;
           box-shadow: none;
        }
    }
    
    .btn-start {
        background-image: $background-image;
        border-radius: 100px;
        border:none;
        font-size: 14px;
        color: white;
        padding: 13px 47px 11px;
        margin: 1% 0 0;
        letter-spacing: 1.33px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        &:hover {
            color:white;
        }
    }
    .header {
        text-align: center;
        padding-bottom: 15px;
        background: {
            image: url('../img/rectangle.jpg');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }
        
        .header-header {
            padding: 3.2% 5.6% 3% 53%;
            font-size: 12px;
        }

        .header-content {
            font-size: 18px;
            margin: 0 16%;

            div {
                padding: 0 20px;
            }
        }

        .text-header {
            font-size: 9px;
            padding-bottom: 8px;
        }
    }

    .content {

        .icon {
            font-size: 20px;
            padding: 8px;
        }

        .text-title {
            font-size: 24px;
        }

        .text-title-top {
            font-size: 13px;
        }

        .text-content {
            text-align: justify;
            font-size: 13px;
        }
        
        @mixin today {
            text-align: justify;
            padding: 20px 0;

            div {

                div {
                padding-bottom: 5px;
                }
            }
        }

        .today,
        .report, 
        .members, 
        .customers, 
        .project { 
            @include today;
        }

        .today {
            text-align: justify;
            padding: 25px 0 15px;
            box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
        }

        .members {
            box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); 
        }

        .radius {
            background-image: $background-image;
            color: white;
            
            .radius1 {
                padding: 15px;
            }

            #demo {
                padding-bottom: 10px;
            }

            .carousel-indicators {
                
                .active {
                    background-color: white;
                }
                  
                li {
                    padding-top: 0;
                    width: 10px;
                    height: 10px;
                    border: 1px solid white;
                    border-radius: 100px;
                    background-color: transparent;
                    margin: 0 10px;
                }
            }

            .slide-cus1 {
                padding-bottom: 40px;
            }
        }
        
        .icon-member {
            padding-top: 8px;
            padding-right: 10px;
            color:  rgb(139,195,74);
        } 

        .text-member {
            display: -webkit-box;
            max-height: 4.8rem;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 3;
            line-height: 1.6rem;
            font-size: 13px;
        }

       
        .text-customer {
                font-size: 13px;
                text-align: justify;
        }
    

        .slide-cus {
            text-align: center;
            color: white;
            margin-top: 30px;
            padding: 20px 10px 30px;
            background: {
                image: url('../img/rectanglemb.jpg');
                size: cover;
                repeat: no-repeat;
                position: center center;
            }
            
            p {
                color: white;
            }

            .carousel-indicators {
                
                .active {
                    background-color: white;
                }
                  
                li {
                    padding-top: 0;
                    width: 10px;
                    height: 10px;
                    border: 1px solid rgb(151,151,151);
                    border-radius: 100px;
                    background-color: transparent;
                    margin: 0 10px;
                }
            }

            .slide-cus1 {
                padding-bottom: 40px;
            }

            .text-icon-slide {
                text-align: justify;
            }

            .text-icon-slide1 {
                font-size: 14px;
            }

            .ti-quote-left {
                padding-right: 5px;
            }

            .ti-quote-right {
                padding-top: 70px;
                padding-left: 5px;
            }
        }
    } 
    
    footer {
        background-color: rgb(57,71,78);
        color: white;
        font-size: 10px;
        padding: 25px 11px 9px;

        img {
            padding-bottom: 24px;
        }  

        .text-footer {
            color: rgb(139,195,74);
            font-size: 12px;
            text-align: left;
            padding-bottom: 24px;
        }

        .text-footer1 {
            font-size: 10px;
            text-align: left;
            padding-bottom: 24px;
        }

        .icon-footer {
            color: rgb(139,195,74);
            font-size: 12px;

            i {
                padding-right: 24px;
            }
        }
    }      
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .btn {
       
        &:focus, &:active {
           outline: 0 !important;
           box-shadow: none;
        }
    }
    
    .btn-start {
        background-image: $background-image;
        border-radius: 100px;
        border:none;
        font-size: 14px;
        color: white;
        padding: 13px 47px 11px;
        margin: 1% 0 0;
        letter-spacing: 1.33px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        &:hover {
            color:white;
        }
    }

    .header {
        text-align: center;
        padding-bottom: 60px;
        background: {
            image: url('../img/rectangle1.png');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }
    
        .header-header {
            padding: 3.2% 5.6% 3% 53%;
            font-size: 12px;
        }

        .header-content {
            font-size: 24px;
            margin: 0 16%;

            div {
                padding: 0 20px;
            }
        }

        .text-header {
            font-size: 14px;
            padding-bottom: 10px;
        }
    }

    .icon {
        font-size: 30px;
        padding: 12px 8px;
    }

    .text-title {
        font-size: 36px;
    }

    .text-title-top {
        font-size: 14px;
        padding: 10px 0;
    }


    @mixin today {
        text-align: justify;
        padding: 30px 0px 20px;
    }

    .today, 
    .report, 
    .members, 
    .project { 
        @include today;
    }

    .today, 
    .members {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); 
    }

    .radius {
        background-image: $background-image;
        color: white;

        .radius1 {
            padding: 30px 0;
        }
    }

    .today { 

        .text-title-top {
            padding: 10px 0;
        }
    }

    .members { 

        .text-title-top {
            padding: 10px 0;
        }
    }

    .icon-member {
        padding: 8px 10px 0 0;
        color:  rgb(139,195,74);
    }

    .text-member {
        display: -webkit-box;
        max-height: 4.8rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
        line-height: 1.6rem;
        font-size: 13px;
    }

    .customers {
        padding-top: 30px;

        img {
            padding-top: 20px;
        }

        .text-customer {
            font-size: 13px;
            padding-top: 20px;

            div {
                padding-bottom: 10px;
            }
        }
    }

    .slide-cus {
        text-align: center;
        color: white;
        margin-top: 30px;
        padding: 20px 15px 15px 40px;
        background: {
            image: url('../img/rectangletb.png');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }

        p {
            color: white;
        }

        .carousel-indicators {
            
            .active {
                background-color: white;
            }
                
            li {
                padding-top: 0;
                width: 10px;
                height: 10px;
                border: 1px solid rgb(151,151,151);
                border-radius: 100px;
                background-color: transparent;
                margin: 0 10px;
            }
        }

        .slide-cus1 {
            padding-bottom: 40px;
        }

        .text-icon-slide {
            text-align: justify;
            font-size: 18px;
        }

        .ti-quote-left, 
        .ti-quote-right {
            font-size: 64px;
        }

        .text-icon-slide1 {
            padding-top: 40px;
            font-size: 18px;
        }

        .ti-quote-right {
            padding-top: 100px;
        }
    }

    footer {
        background-color: rgb(57,71,78);
        color: white;
        font-size: 10px; 
        padding: 20px 5%; 

        .text-footer {
            color: rgb(139,195,74);
            font-size: 13px;
            text-align: left;

            i {
                padding-right: 2%;
            }
        }

        .text-footer1 {
            font-size: 10px;
            text-align: left;
        }
    }         
}

@media screen and (min-width: 992px) {

    .btn {

        &:focus, &:active {
           outline: 0 !important;
           box-shadow: none;
        }
    }
    
    .btn-start {
        background-image: $background-image;
        border-radius: 100px;
        border:none;
        font-size: 16px;
        color: white;
        padding: 13px 47px 11px;
        margin: 1% 0 10%;
        letter-spacing: 1.33px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

        &:hover {
            color:white;
        }
    }

    .header {
        text-align: center;
        background: {
            image: url('../img/banner.png');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }
        
        .header-header {
            padding: 3.2% 20% 0 22%;
            font-size: 12px;
        }

        .header-content {
            font-size: 48px;
            padding: 100px 20.5% 5px;

            div {
                padding-bottom: 10px;

                div {
                    padding-bottom: 15px;
                }
            }
        }

        .icons-header1 {
            padding-top: 18px;
        }

        .text-header {
            font-size: 18px;
            padding-bottom: 30px;
        }

        .text-icons-header {
            font-size: 36px;
        }

        .icons-header {
            font-size: 48px;
        }
    }


    img {
        padding-top: 25px;
    }

    .icon {
        font-size: 30px;
        padding: 25px 10px 0 0;
    }

    .text-title {
        font-size: 48px;
    }

    @mixin today {
        text-align: justify;
        padding: 30px 15px 10px;
    }

    .today {
        @include today;
        text-align: justify;

        .text-content {
            padding: 10px 0 25px ;
        }

        .text-title-top {
            padding: 10px 0;
        }
    }

    .today, 
    .members {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); 
    }

    .report { 
        @include today;

        .text-title-top {
            padding: 5px 0 20px;
        }

        .text-content {
            padding-bottom: 30px;
        }
    }

    .radius {
        background-image: $background-image;
        color: white;

        .radius1 {
            padding: 40px 0;
        }
    }

    .members {
        @include today;

        div {

            div {
                padding-bottom: 8px;
            }
        }
    }

    .icon-member {
        font-size: 18px;
        padding-top: 8px;
        padding-right: 10px;
        color:  rgb(139,195,74);
    } 

    .text-member {
        display: -webkit-box;
        max-height: 3.2rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        line-height: 1.6rem;
        font-size: 13px;
    }

    .customers {
        padding-top: 30px;

        img {
            padding-top: 50px;
        }
        
        .text-title-top {
            padding: 10px 0 10px;
        }

        .text-customer {
            font-size: 13px;
            padding: 15px 0;
            div {
                padding: 5px 0;
            }
        }
    } 

    .slide-cus {
        text-align: center;
        color: white;
        padding: 30px 0;
        margin-bottom: 30px;
        background: {
            image: url('../img/rectangle3.png');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }

        p {
            color: white;
        }

        .carousel-indicators {
            
            .active {
                background-color: white;
            }
                
            li {
                padding-top: 0;
                width: 10px;
                height: 10px;
                border: 1px solid rgb(151,151,151);
                border-radius: 100px;
                background-color: transparent;
                margin: 0 10px;
            }
        }

        .slide-cus1 {
            padding-bottom: 40px;
        }

        .text-icon-slide {
            text-align: justify;
            padding: 0 14.4%;

            .text-icon-slide1 {
                padding-top: 40px;
            }

            div {
                font-size: 18px;
            }

            i {
                font-size: 72px;
                color: white;
            }

            .ti-quote-right {
                padding: 90px 0 0 10px;

            }

            .ti-quote-left {
                padding: 0 10px 0 0;
            }
        }
    }

    .project {
        text-align: justify;
        padding-bottom: 25px;

        .text-content {
            padding: 15px 0;
        }
    }

    footer {
        background-color: rgb(57,71,78);
        text-align: center;
        color: white;
        font-size: 10px; 
        padding: 30px 0;

        .text-footer {
            color: rgb(139,195,74);
            font-size: 13px;
            text-align: left;
        }

        .text-footer1 {
            font-size: 10px;
            text-align: left;
        }
    }  
}







