$background-image: linear-gradient(to right, rgb(66,147,33), rgb(180,236,81));

@media screen and (max-width: 768px) {
    .btn {

        &:focus, &:active {
           outline: 0 !important;
           box-shadow: none;
        }
    }
    
    .btn-start {
        background-image: $background-image;
        border-radius: 100px;
        border:none;
        font-size: 14px;
        color: white;
        padding: 13px 47px 11px;
        margin: 1% 0 5%;
        letter-spacing: 1.33px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        &:hover {
            color:white;
        }
    }
    .header {
        text-align: center;
        padding-bottom: 15px;
        background: {
            image: url('../img/rectangle.jpg');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }

        img {
            padding: 8px 0 20px;
        }
        
        .header-header {
            padding: 3.2% 5.6% 5% 53%;
            font-size: 12px;
        }

        .signin {
            margin-left: 23px;
        }

        .header-icons-center {
            padding: 0 30px;
        }

        .header-content {
            font-size: 18px;
            margin: 0 12%;
        }

        .text-header {
            font-size: 9px;
            padding: 16px 0;
        }
    }

    .icon {
        font-size: 20px;
        padding: 13px 8px 8px;
    }

    .text-title {
        font-size: 24px;
        font-weight: lighter;
    }

    .text-title-top {
        font-size: 13px;
    }

    .text-content {
        text-align: justify;
        font-size: 13px;
    }
    
    @mixin today {
        text-align: justify;
        padding: 20px 0;

        div {

            div {
            padding-bottom: 5px;
            }
        }
    }

    .today,
    .report, 
    .members, 
    .customers, 
    .project { 
        @include today;
    }

    .today {
        text-align: justify;
        padding: 25px 0 15px;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    }

    .members {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); 
    }

    .radius {
        background-image: $background-image;
        color: white;
        
        .radius1 {
            padding: 15px;
            text-align: center;
        }

        #demo {
            padding-bottom: 10px;
        }

        .carousel-indicators {
            
            .active {
                background-color: white;
            }
                
            li {
                padding-top: 0;
                width: 10px;
                height: 10px;
                border: 1px solid white;
                border-radius: 100px;
                background-color: transparent;
                margin: 0 10px;
            }
        }

        .slide-cus1 {
            padding-bottom: 10px;
        }
    }
    
    .icon-member {
        padding-top: 5px;
        padding-right: 10px;
        color:  rgb(139,195,74);
    } 

    .text-member {
        display: -webkit-box;
        max-height: 4.8rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
        line-height: 1.6rem;
        font-size: 13px;
    }

    
    .text-customer {
            font-size: 13px;
            text-align: justify;
    }


    .slide-cus {
        text-align: center;
        color: white;
        padding: 20px 10px 30px;
        background: {
            image: url('../img/rectanglemb.jpg');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }
        
        .text-slide {
            font-size: 24px;
            font-weight: 25;
        }

        p {
            color: white;
        }

        .carousel-indicators {
            
            .active {
                background-color: white;
            }
                
            li {
                padding-top: 0;
                width: 10px;
                height: 10px;
                border: 1px solid rgb(151,151,151);
                border-radius: 100px;
                background-color: transparent;
                margin: 0 10px;
            }
        }

        .slide-cus1 {
            padding-bottom: 10px;
        }

        .text-icon-slide {
            text-align: justify;
        }

        .text-icon-slide1 {
            font-size: 14px;
            line-height: 25px;
            padding: 0 5px;

        }

        .ti-quote-left {
            padding-right: 5px;
        }

        .ti-quote-right {
            padding-top: 100px;
            padding-left: 5px;
        }
    }
    
    footer {
        background-color: rgb(57,71,78);
        color: white;
        font-size: 10px;
        padding: 25px 11px 9px;

        img {
            padding-bottom: 24px;
        }  

        .text-footer {
            color: rgb(139,195,74);
            font-size: 12px;
            text-align: left;
            padding-bottom: 15px;
        }

        .text-footer1 {
            font-size: 10px;
            text-align: left;
            padding-bottom: 24px;
        }

        .icon-footer {
            color: rgb(139,195,74);
            font-size: 12px;

            i {
                padding-right: 24px;
            }
        }
    }      
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .btn {
       
        &:focus, &:active {
           outline: 0 !important;
           box-shadow: none;
        }
    }
    
    .btn-start {
        background-image: $background-image;
        border-radius: 100px;
        border:none;
        font-size: 14px;
        color: white;
        padding: 13px 47px 11px;
        margin: 5% 0 19.5%;
        letter-spacing: 1.33px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        &:hover {
            color:white;
        }
    }

    .header {
        text-align: center;
        background: {
            image: url('../img/rectangle1.png');
            size: cover;
            repeat: no-repeat;
            position: center;
        }
    
        .header-header {
            padding: 3.2% 4px 4% 53%;
            font-size: 12px;
        }

        .text-icons-header {
            font-weight: 350;
        }

        .header-content {
            font-size: 24px;
            padding: 0 5%;
            
            img {
                padding-bottom: 40px;
            }
        }

        .signin {
            margin-left: 23px;
        }

        .header-icons-center {
            text-align: center;
        }


        .text-header {
            font-size: 14px;
            padding: 15px 0 0;
        }
    }

    .icon {
        font-size: 30px;
        padding: 18px 8px;
    }

    .text-title {
        font-size: 36px;
        font-weight: lighter;
    }

    .text-title-top {
        font-size: 14px;
        padding: 10px 0;
    }


    @mixin today {
        text-align: justify;
        padding: 50px 0px 50px;

        .start-now {
            padding-top: 30px;
        }

        .btn {
       
            &:focus, &:active {
               outline: 0 !important;
               box-shadow: none;
            }
        }
        
        .btn-start {
            background-image: $background-image;
            border-radius: 100px;
            border:none;
            font-size: 14px;
            color: white;
            padding: 13px 47px 11px;
            margin: 1% 0 1%;
            letter-spacing: 1.33px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            &:hover {
                color:white;
            }
        }
    }

    .today, 
    .report, 
    .members, 
    .project { 
        @include today;
    }

    .today, 
    .members {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); 
    }

    .radius {
        background-image: $background-image;
        color: white;

        .radius1 {
            padding: 30px 0;
            text-align: center;
        }
    }

    .today { 

        .text-title-top {
            padding: 10px 0;
        }
    }

    .members { 

        .text-title-top {
            padding: 10px 0;
        }
    }

    .icon-member {
        padding: 5px 10px 0 0;
        color:  rgb(139,195,74);
    }

    .text-member {
        display: -webkit-box;
        max-height: 4.8rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
        line-height: 1.6rem;
        font-size: 13px;
    }

    .customers {
        padding-top: 50px;

        img {
            padding-top: 20px;
        }

        .text-customer {
            font-size: 13px;
            padding-top: 20px;
            text-align: justify;

            div {
                padding-bottom: 10px;
            }
        }

        .btn {
           
            &:focus, &:active {
               outline: 0 !important;
               box-shadow: none;
            }
        }
        
        .btn-start {
            background-image: $background-image;
            border-radius: 100px;
            border:none;
            font-size: 14px;
            color: white;
            padding: 13px 47px 11px;
            margin: 1% 0 1%;
            letter-spacing: 1.33px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            &:hover {
                color:white;
            }
        }
    }

    .slide-cus {
        text-align: center;
        color: white;
        margin-top: 30px;
        padding: 20px 15px 15px 40px;
        background: {
            image: url('../img/rectangletb.png');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }

        .text-slide {
            font-size: 36px;
            font-weight: 25;
        }

        p {
            color: white;
        }

        .carousel-indicators {
            
            .active {
                background-color: white;
            }
                
            li {
                padding-top: 0;
                width: 10px;
                height: 10px;
                border: 1px solid rgb(151,151,151);
                border-radius: 100px;
                background-color: transparent;
                margin: 0 10px;
            }
        }

        .slide-cus1 {
            padding-bottom: 10px;
        }

        .text-icon-slide {
            text-align: justify;
            font-size: 18px;
        }

        .ti-quote-left, 
        .ti-quote-right {
            font-size: 64px;
        }

        .text-icon-slide1 {
            padding: 40px 5px;
            font-size: 18px;
        }

        .ti-quote-right {
            padding-top: 100px;
        }
    }

    footer {
        background-color: rgb(57,71,78);
        color: rgb(139,195,74);
        font-size: 10px; 
        padding: 20px 0; 

        .col-2 {
            padding-right: 0;
        }

        .text-footer1 {
            font-size: 10px;
            text-decoration: none;
            color: white;

            a {
                color: white;
            }
        
            .text-footer2 {
                text-decoration: none;

                a {
                    color: rgb(139,195,74);
                    font-size: 13px;
                    text-align: left;
                }
            }
        }
    }         
}

@media screen and (min-width: 992px) {

    .btn {

        &:focus, &:active {
           outline: 0 !important;
           box-shadow: none;
        }
    }
    
    .btn-start {
        background-image: $background-image;
        border-radius: 100px;
        border:none;
        font-size: 16px;
        color: white;
        padding: 13px 47px 11px;
        margin: 2% 0 18.5%;
        letter-spacing: 1.33px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

        &:hover {
            color:white;
        }
    }

    .header {
        text-align: center;
        background: {
            image: url('../img/banner.png');
            size: cover;
            repeat: no-repeat;
            position: center;
        }

        .btn {

            &:focus, &:active {
               outline: 0 !important;
               box-shadow: none;
            }
        }
        
        .btn-start {
            background-image: $background-image;
            border-radius: 100px;
            border:none;
            font-size: 16px;
            color: white;
            padding: 13px 47px 11px;
            margin: 0 0 18.5%;
            letter-spacing: 1.33px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    
            &:hover {
                color:white;
            }
        }

        img {
            padding-bottom: 48px;
        }
        
        .header-header {
            padding: 41px 20% 0 20.5%;
            font-size: 12pt;
        }

        .header-content {
            font-size: 48px;
            padding: 153px 23% 53px;
        }

        .text-header {
            font-size: 18px;
            padding:53px 0 34px;
            letter-spacing: -0.03px;
        }

        .signin {
            margin-left: 38px;
        }

        .text-icons-header {
            font-size: 36px;
            font-weight: 350;
        }

        .icons-header {
            font-size: 48px;
        }
    }

    img {
        padding-top: 0px;
    }

    .icon {
        font-size: 36px;
        padding: 25px 10px 0 0;
    }

    .text-title {
        font-size: 48px;
        padding-bottom: 15px;
        font-weight: lighter;
    }

    .text-title-top {
        padding: 0 0 10px;
    }

    @mixin today {
        text-align: justify;
        padding: 100px 15px 10px;
    }

    .today {
        @include today;
        text-align: justify;

        .text-content {
            padding: 10px 0 25px ;
        }

        .text-title-top {
            padding: 10px 0;
        }
    }

    .today, 
    .members {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); 
    }

    .report { 
        @include today;

        .text-title-top {
            padding: 5px 0 20px;
        }

        .text-content {
            padding-bottom: 30px;
        }
    }

    .radius {
        background-image: $background-image;
        color: white;

        .radius1 {
            padding: 40px 0;
            text-align: center;
        }
    }

    .members {
        @include today;

        .text-title-top {
            margin: 0 0 29px;
        }

        .text-member {
            margin-bottom: 17px;
        }
    }

    .icon-member {
        font-size: 18px;
        padding-top: 5px;
        padding-right: 10px;
        color:  rgb(139,195,74);
    } 

    .text-member {
        display: -webkit-box;
        max-height: 3.2rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        line-height: 1.6rem;
        font-size: 13px;
        text-align: justify;
    }

    .customers {
        padding-top: 100px;

        img {
            padding-top: 40px;
        }
        
        .text-title-top {
            padding: 10px 0 10px;
        }

        .text-customer {
            font-size: 13px;
            padding: 15px 0;
            text-align: justify;

            div {
                padding: 5px 0;
            }
        }
    } 

    .slide-cus {
        text-align: center;
        color: white;
        padding: 30px 0;
        background: {
            image: url('../img/rectangle3.png');
            size: cover;
            repeat: no-repeat;
            position: center center;
        }

        .text-slide {
            font-size: 48px;
            font-weight: 25;
        }

        p {
            color: white;
        }

        .carousel-indicators {
            
            .active {
                background-color: white;
            }
                
            li {
                padding-top: 0;
                width: 10px;
                height: 10px;
                border: 1px solid rgb(151,151,151);
                border-radius: 100px;
                background-color: transparent;
                margin: 0 10px;
            }
        }

        .slide-cus1 {
            padding-bottom: 10px;
        }

        .text-icon-slide {
            text-align: justify;
            padding: 0 26%;

            .text-icon-slide1 {
                padding: 40px 5px;
            }

            div {
                font-size: 18px;
            }

            i {
                font-size: 72px;
                color: white;
            }

            .ti-quote-right {
                padding: 90px 0 0 10px;

            }

            .ti-quote-left {
                padding: 0 10px 0 0;
            }
        }
    }

    .project {
        text-align: justify;
        padding: 100px 0 25px;

        .text-content {
            padding: 15px 0;
        }
    }

    footer {
        background-color: rgb(57,71,78);
        color: rgb(139,195,74);
        font-size: 10px; 
        padding: 30px 0;

        .text-footer1 {
            font-size: 10px;
            text-decoration: none;
            color: white;

            a {
                color: white;
            }
        
            .text-footer2 {
                text-decoration: none;

                a {
                    color: rgb(139,195,74);
                    font-size: 13px;
                    text-align: left;
                }
            }
        }
    }  
}







