$background-image: linear-gradient(to right, rgb(66,147,33), rgb(180,236,81));

.text-title-top {
    font-size: 13px;
}

.text-content {
    line-height: 1.5;
    text-align: justify;
    font-size: 13px;
}

.text {
    font-size: 12px;
    letter-spacing: 1;
}

.content {
    margin: 0 auto;
}

.container {
     margin: 0 auto;
}

.signin {
    padding: 8px 19px 8px 17px;
    font-size: 12px;
    color: rgb(139,195,74);
    border: 2px solid rgb(139,195,74);
    border-radius: 30px;
    background: transparent;
}

.sign-now {
    padding: 10px 27px 11px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    background-image: $background-image;
    margin-top: 10px;
}

.circle {
    height: 107px;
    width: 107px;
    border: 1.5px solid white;
    border-radius: 100px;

    .ti-bookmark-alt,
    .ti-write,
    .ti-layout-list-thumb,
    .ti-face-smile,
    .ti-calendar {
        font-size: 36px;
    }
}

.small-circle {
    height: 40px;
    width: 40px;
    border: 1.5px solid white;
    border-radius: 100px;
    margin-top: -20px;
    background-color: rgb(124,179,66);
    color: white;
    font-size: 24px;
}

.number {
    border: 2px solid green;
    border-radius: 100px;
    text-align: center;
}

.number1 {
    width: 5px;
    height: 5px;
}

.slide-cus {

    .carousel-inner {
        margin: 40px 0;

        img:hover {
            transform: scale(1.2);
        }
    }

    .pointer {
        cursor: pointer;
    }
}

.customer {
    font-size: 13px;
    padding: 0 10px;
}

.text-icon-slide {
    .ti-quote-left,
    .ti-quote-right {
        opacity: 0.4;
    } 
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: $background-image;
}


